.page {
  height: 100vh;
}
.body-block {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.screen-size {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  &__block {
    display: block;
    margin: 0 auto;
  }
  &__vers {
    padding: 10px;
    font-size: 48px;
  }
  &__vers:last-child {
    padding: 10px;
    background-color: #e5e5e5;
  }
  &__line {
    display: block;
    background-color: #232323;
    height: 68px;
  }
}
.nav {
  width: 320px;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  left: -320px;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  background: #232323;
  z-index: 10;
  &__list {
    padding-top: 68px;
    list-style: none;
  }
  &__item {
    padding: 10px 20px 20px 20px;
    cursor: pointer;
    &:active,
    &:hover,
    &:focus {
      background-color: #141413;
    }
  }
  &__link {
    display: inline;
    color: #e5e5e5;
    text-decoration: none;
  }
  &__arrow {
    display: inline-block;
    float: right;
    color: #e5e5e5;
    font-size: 48px;
  }
  &__title {
    display: inline-block;
    font-size: 22px;
  }
  &__subtitle {
    font-size: 19px;
    opacity: 0.5;
  }
}

.nav-toggle {
  position: absolute;
  left: 315px;
  top: 1em;
  padding: 0.5em;
  color: #dadada;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
  z-index: 2001;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  &:after {
    content: "\2630";
    text-decoration: none;
  }
  &:hover {
    color: #f4f4f4;
  }
}

[id="nav-toggle"] {
  position: absolute;
  display: none;
}

[id="nav-toggle"]:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}

[id="nav-toggle"]:checked ~ .nav {
  left: 0;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

[id="nav-toggle"]:checked ~ .nav > .nav-toggle:after {
  content: "\2715";
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.75);
}

::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.6);
  border-radius: 5px;
  box-shadow: inset 0.05em 0.05em 0 rgba(0, 0, 0, 0.1),
    inset 0 -0.05em 0 rgba(0, 0, 0, 0.07);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: orangered;
  color: #e5e5e5;
  text-transform: uppercase;
  &__img {
    height: calc();
    width: auto;
    margin: 50px;
  }
  &__block-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 55%;
    max-width: 400px;
    margin: 50px;
  }
  &__header {
    display: block;
    font-size: 3.5rem;
  }
  &__short-text {
    display: block;
    font-size: 1.4rem;
  }
  &__full-text {
    display: block;
    font-size: 1rem;
  }
  &__btn {
    display: block;
    padding: 15px;
    font-size: 1rem;
    background-color: transparent;
    border: 3px solid #e5e5e5;
    text-transform: uppercase;
    color: #e5e5e5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .screen-size {
    &__vers:last-child {
      padding: 10px;
      background-color: #ffffff;
    }
    &__vers:nth-child(2n) {
      padding: 10px;
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .screen-size {
    &__vers:last-child {
      padding: 10px;
      background-color: #ffffff;
    }
    &__vers:first-child {
      padding: 10px;
      background-color: #e5e5e5;
    }
  }
}
